body {
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	

/*************************
*******NAVIGATION CSS******
**************************/

 .navbar-brand > img {
    display: block;
    height: 45px;
    width: 180px;
    margin-top: -9px;
}

/*************************
*******END OF NAVIGATION CSS******
**************************/



/*************************
*******FOOTER CSS******
**************************/

.feature {
	background: yellowgreen linear-gradient(to bottom, greenyellow, olivedrab);
	color: black;
	}

#feature-carousel {
	min-height: 400px;
	}

#feature-carousel img {
	margin: 0 auto;
	}
		
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

/*************************
*******FOOTER CSS END******
**************************/



/*************************
*******PRODUCT DETAIIL CSS******
**************************/
.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}
.small-printl {
	text-align: left;
	}

.left-sidebar{
    border: solid 1px #eee;
    padding: 10px 20px;
}
.brands-name span{
    position: absolute;
    right: 0;
    
}

/*************************
*******PRODUCT DETAIL HOMEPAGE CSS END******
**************************/


/*************************
*******PRODUCT DETAIL PRODUCT PAGE CSS******
**************************/


.product-details{
	overflow:hidden;
}


#similar-product {
  margin-top: 40px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  /*height: 380px;*/
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}



#similar-product .carousel-inner .item{
	padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
	background:#ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
  min-width:5ex;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 6ex;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.product-item-cover {
    display: block;
    width: 250px;
    height:250px;
    text-align: center;
    margin: auto;
    line-height: 250px;
}

.product-item {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.product-item:hover {
    background: rgba(240, 240, 240, 0.8);
}

.product-item-cover img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

@keyframes t-hide {
    0%   {opacity: 1}
    50%   {opacity: 1}
    100% {opacity: 0}
}
.product-item .label {
    display: none;
}
.product-item .show-label {
    display: inline;
    animation: t-hide 4s linear;
}











.share {
  margin-top: 15px;
}

/*************************
*******PRODUCT DETAIL PRODUCT PAGE CSS END******
**************************/


.cart {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.cart_info tfoot {
    font-weight: bold;
    font-size: 120%;
}
.cart_info table input {
    width: 10ex;
    display: inline-block;
    vertical-align: middle;
}
.cart_info .loader {
    vertical-align: middle;
    visibility: hidden;
}


.shop-details-tab {
  border: 1px solid #F7F7F0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}

/* ******************  forms ******************  */
.register-form select{
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 10px;
}
.register-form label {
    margin-top: 10px;
}

.form-inline {
    display: inline-block;
}

.loader {
    display: inline-block;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}